<!DOCTYPE html>
<html>
  <head>
    <title>Data Display</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="p-10 flex justify-center items-center h-screen w-full">
      <div class="overflow-x-auto artboard artboard-horizontal phone-6">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>SMS Body</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = data.length - 1; i >= 0; i--) { %>
              <tr>
                <td><%= data[i].body %></td>
                <td><%= data[i].createdAt %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
